@use "media" as *;
@use "mixins" as *;

html {
    &.is-lock {
        overflow: hidden;
    }
}

body {
    display: flex;
    flex-direction: column;

    font-family: var(--font-base);
    font-size: var(--text-md);
    line-height: var(--lh-normal);

    letter-spacing: -0.03em;

    color: var(--color-text);
    background-color: var(--color-bg);
}

main {
    flex-grow: 1;
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-white);
}

h1 {
    font-size: var(--text-4xl);
    line-height: var(--lh-tight);
}

h2 {
    font-size: var(--text-3xl);
    line-height: var(--lh-tight);
}

h3 {
    font-size: var(--text-2xl);
    line-height: var(--lh-normal);
}

h4 {
    font-size: var(--text-xl);
    line-height: var(--lh-normal);
}

h5 {
    font-size: var(--text-lg);
    line-height: var(--lh-normal);
}

h6 {
    font-size: var(--text-md);
    line-height: var(--lh-normal);
}

/* TEXT */
p {
    font-size: var(--text-md);
    line-height: var(--lh-normal);
}

small {
    font-size: var(--text-sm);
}

/* INTERACTIONS */
a,
button,
label,
input,
textarea,
select {
    transition: all var(--transition);
}

svg path {
    transition: fill var(--transition), stroke var(--transition);
}

a {
    color: inherit;

    @include hover {
        color: var(--color-accent);
    }

    &[class] {
        text-decoration: none;
    }
}

/* FOCUS */
:focus-visible {
    outline: 2px dashed var(--color-white);
    outline-offset: 4px;
    transition-duration: 0s !important;
}

/* CLICK AREA */
a,
button {
    &[aria-label] {
        position: relative;

        &::before {
            @include abs-center;
            @include square(44px);
            content: "";
        }
    }
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg-tertiary);
}

::-webkit-scrollbar-thumb {
    background: var(--color-text);
    border-radius: var(--radius-sm);
}

::-webkit-scrollbar-button {
    display: none;
}

@supports (-moz-appearance: none) {
    html {
        scrollbar-width: thin;
        scrollbar-color: var(--color-text) var(--color-bg-tertiary);
    }
}